@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@keyframes scale-logo-animation { 
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.scale-logo { 
  animation: scale-logo-animation 0.3s ease-in-out forwards;
}

  
