@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Orbitron&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
body {
  background-color: var(--color-3);
}

html {
  scroll-behavior: smooth;
}

:root {
  --color-1: #ff296d;
  --color-2: #d1f7ff;
  --color-3: #01012a;
  --color-4: #005679;
  --color-5: #05d8e8;
  --home-font: "Orbitron";
  --title-font: "Bubblegum Sans";
  --content-font: "Space Mono";
}

#navbar {
  color: var(--color-1);
  width: 80%;
  margin: 0% 10%;
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#navbar > * > * {
  color: var(--color-1);
  font-family: var(--content-font);
}

#spacer {
  width: 70%;
}

.link {
  text-decoration: none;
  padding: 15px;
}

#navbar>div {
  font-size: 20px;
}

#socials_icons {
  display: flex;
  flex-direction: row;
}

#socials_icons>* {
  padding: 10px;
}

#blob {
  z-index: -1;
  height: 300px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  animation: rotate 1s infinite;
  background: linear-gradient(to right, aquamarine, mediumpurple);
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(12vmax);
}

#home {
  /* border: 1px solid yellow; */
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#title-home {
  position: absolute;
  top: 25%;
  text-align: center;
  font-size: 10vw;
  background: -webkit-linear-gradient(var(--color-1), var(--color-3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--home-font), sans-serif;
}

#image {
  /* border: 5px solid white;  */
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10vh;
  width: 50%;
  aspect-ratio: 1;
  text-align: center;
}

#home-bg {
  width: 100%;
  height: auto;
  filter: hue-rotate(270deg);
}

#scroll-icon {
  border-radius: 5px solid white;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scroll-title {
  color: var(--color-5);
  font-family: var(--content-font);
  letter-spacing: 2px;
}

.fa-down-long {
  padding-left: 10px;
  color: var(--color-5);
}

#skills-cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#skills > h1 {
  text-align: center;
  color : var(--color-1);
  font-family: var(--home-font); 
  font-size: 70px;
  background: -webkit-linear-gradient( var(--color-1), var(--color-3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.card{
  width : 25 vh;
  min-width : 300px;
  aspect-ratio: 1 / 1.5 ;
  border : 1px solid white;
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-1);
  font-family: "Righteous";
  font-size: 20px;
}
#home-slogan{
  font-family: var(--content-font);
  letter-spacing: 5px;
  background: -webkit-linear-gradient( var(--color-1), var(--color-3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: flicker 1s ease-in-out infinite alternate;
}

@keyframes flicker {
    
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    
      text-shadow:
          -0.2rem -0.2rem 1rem #fff,
          0.2rem 0.2rem 1rem #fff,
          0 0 2rem var(--neon-text-color),
          0 0 4rem var(--neon-text-color),
          0 0 6rem var(--neon-text-color),
          0 0 8rem var(--neon-text-color),
          0 0 10rem var(--neon-text-color);
      
      box-shadow:
          0 0 .5rem #fff,
          inset 0 0 .5rem #fff,
          0 0 2rem var(--neon-border-color),
          inset 0 0 2rem var(--neon-border-color),
          0 0 4rem var(--neon-border-color),
          inset 0 0 4rem var(--neon-border-color);        
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
      box-shadow: none;
  }    
}
.fa-code ,.fa-photo-film , .fa-meteor{
  font-size: 100px;
}